# 1 Data Wrangling

 <b>1.1 Introduction <b/>

In this notebook we collect our project data source, clean and prepare the data for analysis.

 <b>1.1.1 Recap of Data Science Problem<b/>

In this project we are interested in creating time series models that can predict the future production rate of volve field production wells.

 <b>1.1.2 Imports<b/>

Import relevant python modules

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
from datetime import date, timedelta

 <b>1.2 Load Volve Data Set<b/>

In [2]:
df = pd.read_csv('Volve.csv',  encoding = 'unicode_escape', engine ='python')

<b>1.3 Explore The Data<b/>

Examine Columns

In [3]:
df.columns

Index(['DATEPRD', 'WELL_BORE_CODE', 'NPD_WELL_BORE_CODE', 'NPD_WELL_BORE_NAME',
       'NPD_FIELD_CODE', 'NPD_FIELD_NAME', 'NPD_FACILITY_CODE',
       'NPD_FACILITY_NAME', 'ON_STREAM_HRS', 'AVG_DOWNHOLE_PRESSURE',
       'AVG_DOWNHOLE_TEMPERATURE', 'AVG_DP_TUBING', 'AVG_ANNULUS_PRESS',
       'AVG_CHOKE_SIZE_P', 'AVG_CHOKE_UOM', 'AVG_WHP_P', 'AVG_WHT_P',
       'DP_CHOKE_SIZE', 'BORE_OIL_VOL', 'BORE_GAS_VOL', 'BORE_WAT_VOL',
       'BORE_WI_VOL', 'FLOW_KIND', 'WELL_TYPE'],
      dtype='object')

Examine head of dataframe

In [4]:
df.head()

,DATEPRD,WELL_BORE_CODE,NPD_WELL_BORE_CODE,NPD_WELL_BORE_NAME,NPD_FIELD_CODE,NPD_FIELD_NAME,NPD_FACILITY_CODE,NPD_FACILITY_NAME,ON_STREAM_HRS,AVG_DOWNHOLE_PRESSURE,AVG_DOWNHOLE_TEMPERATURE,AVG_DP_TUBING,AVG_ANNULUS_PRESS,AVG_CHOKE_SIZE_P,AVG_CHOKE_UOM,AVG_WHP_P,AVG_WHT_P,DP_CHOKE_SIZE,BORE_OIL_VOL,BORE_GAS_VOL,BORE_WAT_VOL,BORE_WI_VOL,FLOW_KIND,WELL_TYPE
0,07-Apr-14,NO 15/9-F-1 C,7405,15/9-F-1 C,3420717,VOLVE,369304,MÆRSK INSPIRER,0.0,0.000,0.000,0.000,0.0,0.00000,%,0.000,0.00,0.000,0,0,0,NaN,production,WI
1,08-Apr-14,NO 15/9-F-1 C,7405,15/9-F-1 C,3420717,VOLVE,369304,MÆRSK INSPIRER,0.0,NaN,NaN,NaN,0.0,1.00306,%,0.000,0.00,0.000,0,0,0,NaN,production,OP
2,09-Apr-14,NO 15/9-F-1 C,7405,15/9-F-1 C,3420717,VOLVE,369304,MÆRSK INSPIRER,0.0,NaN,NaN,NaN,0.0,0.97901,%,0.000,0.00,0.000,0,0,0,NaN,production,OP
3,10-Apr-14,NO 15/9-F-1 C,7405,15/9-F-1 C,3420717,VOLVE,369304,MÆRSK INSPIRER,0.0,NaN,NaN,NaN,0.0,0.54576,%,0.000,0.00,0.000,0,0,0,NaN,production,OP
4,11-Apr-14,NO 15/9-F-1 C,7405,15/9-F-1 C,3420717,VOLVE,369304,MÆRSK INSPIRER,0.0,310.376,96.876,277.278,0.0,1.21599,%,33.098,10.48,33.072,0,0,0,NaN,production,OP

Check how many unique wells there are in the dataframe.

In [5]:
df['WELL_BORE_CODE'].unique()

array(['NO 15/9-F-1 C', 'NO 15/9-F-11 H', 'NO 15/9-F-12 H',
       'NO 15/9-F-14 H', 'NO 15/9-F-15 D', 'NO 15/9-F-4 AH',
       'NO 15/9-F-5 AH'], dtype=object)

In [6]:
df['NPD_WELL_BORE_CODE'].unique()

array([7405, 7078, 5599, 5351, 7289, 5693, 5769], dtype=int64)

In [7]:
df['NPD_WELL_BORE_NAME'].unique()

array(['15/9-F-1 C', '15/9-F-11', '15/9-F-12', '15/9-F-14', '15/9-F-15 D',
       '15/9-F-4', '15/9-F-5'], dtype=object)

In [8]:
df['NPD_FACILITY_CODE'].unique()

array([369304], dtype=int64)

In [9]:
df['NPD_FACILITY_NAME'].unique()

array(['MÆRSK INSPIRER'], dtype=object)

In [10]:
df['NPD_FIELD_CODE'].unique()

array([3420717], dtype=int64)

Find number of rows

In [11]:
df.shape[0]

15634

Examine data types

In [12]:
df.dtypes

DATEPRD                      object
WELL_BORE_CODE               object
NPD_WELL_BORE_CODE            int64
NPD_WELL_BORE_NAME           object
NPD_FIELD_CODE                int64
NPD_FIELD_NAME               object
NPD_FACILITY_CODE             int64
NPD_FACILITY_NAME            object
ON_STREAM_HRS               float64
AVG_DOWNHOLE_PRESSURE       float64
AVG_DOWNHOLE_TEMPERATURE    float64
AVG_DP_TUBING               float64
AVG_ANNULUS_PRESS           float64
AVG_CHOKE_SIZE_P            float64
AVG_CHOKE_UOM                object
AVG_WHP_P                   float64
AVG_WHT_P                   float64
DP_CHOKE_SIZE               float64
BORE_OIL_VOL                 object
BORE_GAS_VOL                 object
BORE_WAT_VOL                 object
BORE_WI_VOL                  object
FLOW_KIND                    object
WELL_TYPE                    object
dtype: object

Change 'DATEPRD'  column to datetime.

In [13]:
df['DATEPRD'] =  pd.to_datetime(df['DATEPRD'])

Examine data types

In [14]:
df.dtypes

DATEPRD                     datetime64[ns]
WELL_BORE_CODE                      object
NPD_WELL_BORE_CODE                   int64
NPD_WELL_BORE_NAME                  object
NPD_FIELD_CODE                       int64
NPD_FIELD_NAME                      object
NPD_FACILITY_CODE                    int64
NPD_FACILITY_NAME                   object
ON_STREAM_HRS                      float64
AVG_DOWNHOLE_PRESSURE              float64
AVG_DOWNHOLE_TEMPERATURE           float64
AVG_DP_TUBING                      float64
AVG_ANNULUS_PRESS                  float64
AVG_CHOKE_SIZE_P                   float64
AVG_CHOKE_UOM                       object
AVG_WHP_P                          float64
AVG_WHT_P                          float64
DP_CHOKE_SIZE                      float64
BORE_OIL_VOL                        object
BORE_GAS_VOL                        object
BORE_WAT_VOL                        object
BORE_WI_VOL                         object
FLOW_KIND                           object
WELL_TYPE                           object
dtype: object

Examine head of dataframe

In [15]:
df.head()

,DATEPRD,WELL_BORE_CODE,NPD_WELL_BORE_CODE,NPD_WELL_BORE_NAME,NPD_FIELD_CODE,NPD_FIELD_NAME,NPD_FACILITY_CODE,NPD_FACILITY_NAME,ON_STREAM_HRS,AVG_DOWNHOLE_PRESSURE,AVG_DOWNHOLE_TEMPERATURE,AVG_DP_TUBING,AVG_ANNULUS_PRESS,AVG_CHOKE_SIZE_P,AVG_CHOKE_UOM,AVG_WHP_P,AVG_WHT_P,DP_CHOKE_SIZE,BORE_OIL_VOL,BORE_GAS_VOL,BORE_WAT_VOL,BORE_WI_VOL,FLOW_KIND,WELL_TYPE
0,2014-04-07,NO 15/9-F-1 C,7405,15/9-F-1 C,3420717,VOLVE,369304,MÆRSK INSPIRER,0.0,0.000,0.000,0.000,0.0,0.00000,%,0.000,0.00,0.000,0,0,0,NaN,production,WI
1,2014-04-08,NO 15/9-F-1 C,7405,15/9-F-1 C,3420717,VOLVE,369304,MÆRSK INSPIRER,0.0,NaN,NaN,NaN,0.0,1.00306,%,0.000,0.00,0.000,0,0,0,NaN,production,OP
2,2014-04-09,NO 15/9-F-1 C,7405,15/9-F-1 C,3420717,VOLVE,369304,MÆRSK INSPIRER,0.0,NaN,NaN,NaN,0.0,0.97901,%,0.000,0.00,0.000,0,0,0,NaN,production,OP
3,2014-04-10,NO 15/9-F-1 C,7405,15/9-F-1 C,3420717,VOLVE,369304,MÆRSK INSPIRER,0.0,NaN,NaN,NaN,0.0,0.54576,%,0.000,0.00,0.000,0,0,0,NaN,production,OP
4,2014-04-11,NO 15/9-F-1 C,7405,15/9-F-1 C,3420717,VOLVE,369304,MÆRSK INSPIRER,0.0,310.376,96.876,277.278,0.0,1.21599,%,33.098,10.48,33.072,0,0,0,NaN,production,OP

Change df['BORE_OIL_VOL'],df['BORE_GAS_VOL'],df['BORE_WAT_VOL'],df['BORE_WI_VOL'],df['DATEPRD'] to numeric data types

In [16]:
df['BORE_OIL_VOL'] = pd.to_numeric(df['BORE_OIL_VOL'],errors = 'coerce')
df['BORE_GAS_VOL'] = pd.to_numeric(df['BORE_GAS_VOL'],errors = 'coerce')
df['BORE_WAT_VOL'] = pd.to_numeric(df['BORE_WAT_VOL'],errors = 'coerce')
df['BORE_WI_VOL'] = pd.to_numeric(df['BORE_WI_VOL'],errors = 'coerce')
df['DATEPRD'] =  pd.to_datetime(df['DATEPRD'])

Examine data types

In [17]:
df.dtypes

DATEPRD                     datetime64[ns]
WELL_BORE_CODE                      object
NPD_WELL_BORE_CODE                   int64
NPD_WELL_BORE_NAME                  object
NPD_FIELD_CODE                       int64
NPD_FIELD_NAME                      object
NPD_FACILITY_CODE                    int64
NPD_FACILITY_NAME                   object
ON_STREAM_HRS                      float64
AVG_DOWNHOLE_PRESSURE              float64
AVG_DOWNHOLE_TEMPERATURE           float64
AVG_DP_TUBING                      float64
AVG_ANNULUS_PRESS                  float64
AVG_CHOKE_SIZE_P                   float64
AVG_CHOKE_UOM                       object
AVG_WHP_P                          float64
AVG_WHT_P                          float64
DP_CHOKE_SIZE                      float64
BORE_OIL_VOL                       float64
BORE_GAS_VOL                       float64
BORE_WAT_VOL                       float64
BORE_WI_VOL                        float64
FLOW_KIND                           object
WELL_TYPE                           object
dtype: object

Find unique well names

In [18]:
df['NPD_WELL_BORE_NAME'].unique()

array(['15/9-F-1 C', '15/9-F-11', '15/9-F-12', '15/9-F-14', '15/9-F-15 D',
       '15/9-F-4', '15/9-F-5'], dtype=object)

There are 7 wells in total

Create well list based on unique well names4

In [19]:
wells = list(df['NPD_WELL_BORE_NAME'].unique())

Find oil production per well

In [20]:
print('Oil Production Volume')
for well in wells:
    print(well, df.loc[df.NPD_WELL_BORE_NAME == well, 'BORE_OIL_VOL'].sum())

Oil Production Volume
15/9-F-1 C 162861.0
15/9-F-11 237757.0
15/9-F-12 707934.0
15/9-F-14 542249.0
15/9-F-15 D 148520.0
15/9-F-4 0.0
15/9-F-5 41163.0

F-4 well did not produce any oil

Find gas production per well

In [21]:
print('Gas Production Volume')
for well in wells:
    print(well, df.loc[df.NPD_WELL_BORE_NAME == well, 'BORE_GAS_VOL'].sum())

Gas Production Volume
15/9-F-1 C 861.0
15/9-F-11 0.0
15/9-F-12 2198.0
15/9-F-14 912.0
15/9-F-15 D 29.0
15/9-F-4 0.0
15/9-F-5 0.0

Find water production per well

In [22]:
print('Water Production Volume')
for well in wells:
    print(well, df.loc[df.NPD_WELL_BORE_NAME == well, 'BORE_WAT_VOL'].sum())

Water Production Volume
15/9-F-1 C 174189.0
15/9-F-11 207578.0
15/9-F-12 220798.0
15/9-F-14 88004.0
15/9-F-15 D 52350.0
15/9-F-4 0.0
15/9-F-5 13536.0

Find water production per well

In [23]:
print('Water Injection Volume')
for well in wells:
    print(well, df.loc[df.NPD_WELL_BORE_NAME == well, 'BORE_WI_VOL'].sum())

Water Injection Volume
15/9-F-1 C 0.0
15/9-F-11 0.0
15/9-F-12 0.0
15/9-F-14 0.0
15/9-F-15 D 0.0
15/9-F-4 16499.0
15/9-F-5 13340.0

F-4 and F-5 wells are water injection wells

<b>1.4 Data cleaning and preparation<b/>

Create a date list per well

In [24]:
F_1 = list(df.loc[df.NPD_WELL_BORE_NAME == '15/9-F-1 C', 'DATEPRD'])

In [25]:
F_11 = list(df.loc[df.NPD_WELL_BORE_NAME == '15/9-F-11', 'DATEPRD'])

In [26]:
F_12 = list(df.loc[df.NPD_WELL_BORE_NAME == '15/9-F-12', 'DATEPRD'])

In [27]:
F_14 = list(df.loc[df.NPD_WELL_BORE_NAME == '15/9-F-14', 'DATEPRD'])

In [28]:
F_15_D = list(df.loc[df.NPD_WELL_BORE_NAME == '15/9-F-15 D', 'DATEPRD'])

In [29]:
F_4 = list(df.loc[df.NPD_WELL_BORE_NAME == '15/9-F-4', 'DATEPRD'])

In [30]:
F_5 = list(df.loc[df.NPD_WELL_BORE_NAME == '15/9-F-5', 'DATEPRD'])

Create list of lists of well dates per well and a well name list

In [31]:
wells = [F_1,F_11,F_12,F_14,F_15_D,F_4,F_5]
well_name = ['F_1','F_11','F_12','F_14','F_15_D','F_4','F_5']

Check for duplicate rows for each well

In [32]:
for well in wells:
    well_set = set(well)
    contains_duplicates = len(well_set) != len(well)
    print(contains_duplicates)

False
False
False
False
False
False
False

Create dic of well: dates of missing dates per well

In [33]:
dic={}
counter=0
for well in wells:
    date_set = set(well[0] + timedelta(x) for x in range((well[-1] - well[0]).days))
    missing = sorted(date_set - set(well))
    dic[well_name[counter]] = missing
    counter+=1

In [34]:
dic

{'F_1': [],
 'F_11': [Timestamp('2013-09-19 00:00:00'),
  Timestamp('2014-01-30 00:00:00'),
  Timestamp('2014-02-07 00:00:00')],
 'F_12': [Timestamp('2008-04-28 00:00:00'),
  Timestamp('2008-08-07 00:00:00'),
  Timestamp('2009-05-05 00:00:00'),
  Timestamp('2009-08-03 00:00:00'),
  Timestamp('2009-09-01 00:00:00'),
  Timestamp('2010-02-28 00:00:00'),
  Timestamp('2010-03-01 00:00:00'),
  Timestamp('2010-03-07 00:00:00'),
  Timestamp('2010-08-16 00:00:00'),
  Timestamp('2010-08-18 00:00:00'),
  Timestamp('2010-08-19 00:00:00'),
  Timestamp('2010-08-24 00:00:00'),
  Timestamp('2011-02-02 00:00:00'),
  Timestamp('2011-02-03 00:00:00'),
  Timestamp('2011-02-04 00:00:00'),
  Timestamp('2011-06-21 00:00:00'),
  Timestamp('2011-06-22 00:00:00'),
  Timestamp('2011-06-23 00:00:00'),
  Timestamp('2011-06-25 00:00:00'),
  Timestamp('2011-06-26 00:00:00'),
  Timestamp('2011-06-27 00:00:00'),
  Timestamp('2011-06-29 00:00:00'),
  Timestamp('2011-06-30 00:00:00'),
  Timestamp('2011-07-06 00:00:00'),
  Timestamp('2011-07-12 00:00:00'),
  Timestamp('2011-07-19 00:00:00'),
  Timestamp('2011-10-16 00:00:00'),
  Timestamp('2011-10-17 00:00:00'),
  Timestamp('2011-10-18 00:00:00'),
  Timestamp('2011-10-25 00:00:00'),
  Timestamp('2011-11-25 00:00:00'),
  Timestamp('2011-11-26 00:00:00'),
  Timestamp('2011-11-27 00:00:00'),
  Timestamp('2011-11-29 00:00:00'),
  Timestamp('2011-11-30 00:00:00'),
  Timestamp('2011-12-01 00:00:00'),
  Timestamp('2011-12-03 00:00:00'),
  Timestamp('2011-12-04 00:00:00'),
  Timestamp('2011-12-09 00:00:00'),
  Timestamp('2011-12-14 00:00:00'),
  Timestamp('2011-12-25 00:00:00'),
  Timestamp('2012-01-03 00:00:00'),
  Timestamp('2012-01-04 00:00:00'),
  Timestamp('2012-01-05 00:00:00'),
  Timestamp('2012-01-06 00:00:00'),
  Timestamp('2012-01-07 00:00:00'),
  Timestamp('2012-01-08 00:00:00'),
  Timestamp('2012-01-09 00:00:00'),
  Timestamp('2012-01-10 00:00:00'),
  Timestamp('2012-01-11 00:00:00'),
  Timestamp('2012-01-12 00:00:00'),
  Timestamp('2012-01-13 00:00:00'),
  Timestamp('2012-01-26 00:00:00'),
  Timestamp('2012-08-14 00:00:00'),
  Timestamp('2012-08-18 00:00:00'),
  Timestamp('2012-09-04 00:00:00'),
  Timestamp('2012-09-05 00:00:00'),
  Timestamp('2012-09-06 00:00:00'),
  Timestamp('2012-09-08 00:00:00'),
  Timestamp('2012-09-09 00:00:00'),
  Timestamp('2012-09-10 00:00:00'),
  Timestamp('2012-09-12 00:00:00'),
  Timestamp('2012-09-13 00:00:00'),
  Timestamp('2012-09-14 00:00:00'),
  Timestamp('2012-09-18 00:00:00'),
  Timestamp('2012-09-20 00:00:00'),
  Timestamp('2012-09-22 00:00:00'),
  Timestamp('2012-09-24 00:00:00'),
  Timestamp('2012-09-28 00:00:00'),
  Timestamp('2012-10-15 00:00:00'),
  Timestamp('2012-10-16 00:00:00'),
  Timestamp('2012-10-17 00:00:00'),
  Timestamp('2012-10-18 00:00:00'),
  Timestamp('2013-03-08 00:00:00'),
  Timestamp('2013-03-09 00:00:00'),
  Timestamp('2013-03-12 00:00:00'),
  Timestamp('2013-04-02 00:00:00'),
  Timestamp('2013-04-06 00:00:00'),
  Timestamp('2013-04-07 00:00:00'),
  Timestamp('2013-04-08 00:00:00'),
  Timestamp('2013-06-24 00:00:00'),
  Timestamp('2013-06-25 00:00:00'),
  Timestamp('2013-09-19 00:00:00'),
  Timestamp('2014-01-30 00:00:00'),
  Timestamp('2014-02-07 00:00:00')],
 'F_14': [Timestamp('2008-04-28 00:00:00'),
  Timestamp('2008-08-07 00:00:00'),
  Timestamp('2009-05-05 00:00:00'),
  Timestamp('2009-08-03 00:00:00'),
  Timestamp('2009-09-01 00:00:00'),
  Timestamp('2010-02-28 00:00:00'),
  Timestamp('2010-03-01 00:00:00'),
  Timestamp('2010-03-07 00:00:00'),
  Timestamp('2010-08-16 00:00:00'),
  Timestamp('2010-08-18 00:00:00'),
  Timestamp('2010-08-19 00:00:00'),
  Timestamp('2010-08-24 00:00:00'),
  Timestamp('2011-02-02 00:00:00'),
  Timestamp('2011-02-03 00:00:00'),
  Timestamp('2011-02-04 00:00:00'),
  Timestamp('2011-06-21 00:00:00'),
  Timestamp('2011-06-22 00:00:00'),
  Timestamp('2011-06-23 00:00:00'),
  Timestamp('2011-06-25 00:00:00'),
  Timestamp('2011-06-26 00:00:00'),
  Timestamp('2011-06-27 00:00:00'),
  Timestamp('2011-06-29 00:00:00'),
  Timestamp('2011-06-30 00:00:00'),
  Timestamp('2011-07-06 00:00:00'),
  Timestamp('2011-07-12 00:00:00'),
  Timestamp('2011-07-19 00:00:00'),
  Timestamp('2011-10-16 00:00:00'),
  Timestamp('2011-10-17 00:00:00'),
  Timestamp('2011-10-18 00:00:00'),
  Timestamp('2011-10-25 00:00:00'),
  Timestamp('2011-11-25 00:00:00'),
  Timestamp('2011-11-26 00:00:00'),
  Timestamp('2011-11-27 00:00:00'),
  Timestamp('2011-11-29 00:00:00'),
  Timestamp('2011-11-30 00:00:00'),
  Timestamp('2011-12-01 00:00:00'),
  Timestamp('2011-12-03 00:00:00'),
  Timestamp('2011-12-04 00:00:00'),
  Timestamp('2011-12-09 00:00:00'),
  Timestamp('2011-12-14 00:00:00'),
  Timestamp('2011-12-25 00:00:00'),
  Timestamp('2012-01-03 00:00:00'),
  Timestamp('2012-01-04 00:00:00'),
  Timestamp('2012-01-05 00:00:00'),
  Timestamp('2012-01-06 00:00:00'),
  Timestamp('2012-01-07 00:00:00'),
  Timestamp('2012-01-08 00:00:00'),
  Timestamp('2012-01-09 00:00:00'),
  Timestamp('2012-01-10 00:00:00'),
  Timestamp('2012-01-11 00:00:00'),
  Timestamp('2012-01-12 00:00:00'),
  Timestamp('2012-01-13 00:00:00'),
  Timestamp('2012-01-26 00:00:00'),
  Timestamp('2012-08-14 00:00:00'),
  Timestamp('2012-08-18 00:00:00'),
  Timestamp('2012-09-04 00:00:00'),
  Timestamp('2012-09-05 00:00:00'),
  Timestamp('2012-09-06 00:00:00'),
  Timestamp('2012-09-08 00:00:00'),
  Timestamp('2012-09-09 00:00:00'),
  Timestamp('2012-09-10 00:00:00'),
  Timestamp('2012-09-12 00:00:00'),
  Timestamp('2012-09-13 00:00:00'),
  Timestamp('2012-09-14 00:00:00'),
  Timestamp('2012-09-18 00:00:00'),
  Timestamp('2012-09-20 00:00:00'),
  Timestamp('2012-09-22 00:00:00'),
  Timestamp('2012-09-24 00:00:00'),
  Timestamp('2012-09-28 00:00:00'),
  Timestamp('2012-10-15 00:00:00'),
  Timestamp('2012-10-16 00:00:00'),
  Timestamp('2012-10-17 00:00:00'),
  Timestamp('2012-10-18 00:00:00'),
  Timestamp('2013-03-08 00:00:00'),
  Timestamp('2013-03-09 00:00:00'),
  Timestamp('2013-03-12 00:00:00'),
  Timestamp('2013-04-02 00:00:00'),
  Timestamp('2013-04-06 00:00:00'),
  Timestamp('2013-04-07 00:00:00'),
  Timestamp('2013-04-08 00:00:00'),
  Timestamp('2013-06-24 00:00:00'),
  Timestamp('2013-06-25 00:00:00'),
  Timestamp('2013-09-19 00:00:00'),
  Timestamp('2014-01-30 00:00:00'),
  Timestamp('2014-02-07 00:00:00')],
 'F_15_D': [Timestamp('2014-01-30 00:00:00'),
  Timestamp('2014-02-07 00:00:00')],
 'F_4': [Timestamp('2016-10-08 00:00:00'),
  Timestamp('2016-10-09 00:00:00'),
  Timestamp('2016-10-10 00:00:00'),
  Timestamp('2016-10-11 00:00:00'),
  Timestamp('2016-10-12 00:00:00'),
  Timestamp('2016-10-13 00:00:00'),
  Timestamp('2016-10-14 00:00:00'),
  Timestamp('2016-10-15 00:00:00'),
  Timestamp('2016-10-16 00:00:00'),
  Timestamp('2016-10-17 00:00:00'),
  Timestamp('2016-10-18 00:00:00'),
  Timestamp('2016-10-19 00:00:00'),
  Timestamp('2016-10-20 00:00:00'),
  Timestamp('2016-10-21 00:00:00'),
  Timestamp('2016-10-22 00:00:00'),
  Timestamp('2016-10-23 00:00:00'),
  Timestamp('2016-10-24 00:00:00'),
  Timestamp('2016-10-25 00:00:00'),
  Timestamp('2016-10-26 00:00:00'),
  Timestamp('2016-10-27 00:00:00'),
  Timestamp('2016-10-28 00:00:00'),
  Timestamp('2016-10-29 00:00:00'),
  Timestamp('2016-10-30 00:00:00'),
  Timestamp('2016-10-31 00:00:00'),
  Timestamp('2016-11-02 00:00:00'),
  Timestamp('2016-11-03 00:00:00'),
  Timestamp('2016-11-04 00:00:00'),
  Timestamp('2016-11-05 00:00:00'),
  Timestamp('2016-11-06 00:00:00'),
  Timestamp('2016-11-07 00:00:00'),
  Timestamp('2016-11-08 00:00:00'),
  Timestamp('2016-11-09 00:00:00'),
  Timestamp('2016-11-10 00:00:00'),
  Timestamp('2016-11-11 00:00:00'),
  Timestamp('2016-11-12 00:00:00'),
  Timestamp('2016-11-13 00:00:00'),
  Timestamp('2016-11-14 00:00:00'),
  Timestamp('2016-11-15 00:00:00'),
  Timestamp('2016-11-16 00:00:00'),
  Timestamp('2016-11-17 00:00:00'),
  Timestamp('2016-11-18 00:00:00'),
  Timestamp('2016-11-19 00:00:00'),
  Timestamp('2016-11-20 00:00:00'),
  Timestamp('2016-11-21 00:00:00'),
  Timestamp('2016-11-22 00:00:00'),
  Timestamp('2016-11-23 00:00:00'),
  Timestamp('2016-11-24 00:00:00'),
  Timestamp('2016-11-25 00:00:00'),
  Timestamp('2016-11-26 00:00:00'),
  Timestamp('2016-11-27 00:00:00'),
  Timestamp('2016-11-28 00:00:00'),
  Timestamp('2016-11-29 00:00:00'),
  Timestamp('2016-11-30 00:00:00')],
 'F_5': []}

Wells 'F_1' and 'F_5' have no missing dates

Check head of dataframe to see which columns to drop

In [35]:
df.head()

,DATEPRD,WELL_BORE_CODE,NPD_WELL_BORE_CODE,NPD_WELL_BORE_NAME,NPD_FIELD_CODE,NPD_FIELD_NAME,NPD_FACILITY_CODE,NPD_FACILITY_NAME,ON_STREAM_HRS,AVG_DOWNHOLE_PRESSURE,AVG_DOWNHOLE_TEMPERATURE,AVG_DP_TUBING,AVG_ANNULUS_PRESS,AVG_CHOKE_SIZE_P,AVG_CHOKE_UOM,AVG_WHP_P,AVG_WHT_P,DP_CHOKE_SIZE,BORE_OIL_VOL,BORE_GAS_VOL,BORE_WAT_VOL,BORE_WI_VOL,FLOW_KIND,WELL_TYPE
0,2014-04-07,NO 15/9-F-1 C,7405,15/9-F-1 C,3420717,VOLVE,369304,MÆRSK INSPIRER,0.0,0.000,0.000,0.000,0.0,0.00000,%,0.000,0.00,0.000,0.0,0.0,0.0,NaN,production,WI
1,2014-04-08,NO 15/9-F-1 C,7405,15/9-F-1 C,3420717,VOLVE,369304,MÆRSK INSPIRER,0.0,NaN,NaN,NaN,0.0,1.00306,%,0.000,0.00,0.000,0.0,0.0,0.0,NaN,production,OP
2,2014-04-09,NO 15/9-F-1 C,7405,15/9-F-1 C,3420717,VOLVE,369304,MÆRSK INSPIRER,0.0,NaN,NaN,NaN,0.0,0.97901,%,0.000,0.00,0.000,0.0,0.0,0.0,NaN,production,OP
3,2014-04-10,NO 15/9-F-1 C,7405,15/9-F-1 C,3420717,VOLVE,369304,MÆRSK INSPIRER,0.0,NaN,NaN,NaN,0.0,0.54576,%,0.000,0.00,0.000,0.0,0.0,0.0,NaN,production,OP
4,2014-04-11,NO 15/9-F-1 C,7405,15/9-F-1 C,3420717,VOLVE,369304,MÆRSK INSPIRER,0.0,310.376,96.876,277.278,0.0,1.21599,%,33.098,10.48,33.072,0.0,0.0,0.0,NaN,production,OP

Drop the following columns: 'DATEPRD','WELL_BORE_CODE','AVG_CHOKE_UOM','NPD_WELL_BORE_CODE','NPD_FIELD_CODE','NPD_FIELD_NAME','NPD_FACILITY_CODE','NPD_FACILITY_NAME','FLOW_KIND','WELL_TYPE','ON_STREAM_HRS'

In [36]:
df.drop(columns = ['WELL_BORE_CODE','AVG_CHOKE_UOM','NPD_WELL_BORE_CODE','NPD_FIELD_CODE','NPD_FIELD_NAME','NPD_FACILITY_CODE','NPD_FACILITY_NAME','FLOW_KIND','WELL_TYPE','ON_STREAM_HRS'],inplace=True)

Check head of dataframe

In [37]:
df.head()

,DATEPRD,NPD_WELL_BORE_NAME,AVG_DOWNHOLE_PRESSURE,AVG_DOWNHOLE_TEMPERATURE,AVG_DP_TUBING,AVG_ANNULUS_PRESS,AVG_CHOKE_SIZE_P,AVG_WHP_P,AVG_WHT_P,DP_CHOKE_SIZE,BORE_OIL_VOL,BORE_GAS_VOL,BORE_WAT_VOL,BORE_WI_VOL
0,2014-04-07,15/9-F-1 C,0.000,0.000,0.000,0.0,0.00000,0.000,0.00,0.000,0.0,0.0,0.0,NaN
1,2014-04-08,15/9-F-1 C,NaN,NaN,NaN,0.0,1.00306,0.000,0.00,0.000,0.0,0.0,0.0,NaN
2,2014-04-09,15/9-F-1 C,NaN,NaN,NaN,0.0,0.97901,0.000,0.00,0.000,0.0,0.0,0.0,NaN
3,2014-04-10,15/9-F-1 C,NaN,NaN,NaN,0.0,0.54576,0.000,0.00,0.000,0.0,0.0,0.0,NaN
4,2014-04-11,15/9-F-1 C,310.376,96.876,277.278,0.0,1.21599,33.098,10.48,33.072,0.0,0.0,0.0,NaN

View remaining dataframe columns

In [38]:
df.columns

Index(['DATEPRD', 'NPD_WELL_BORE_NAME', 'AVG_DOWNHOLE_PRESSURE',
       'AVG_DOWNHOLE_TEMPERATURE', 'AVG_DP_TUBING', 'AVG_ANNULUS_PRESS',
       'AVG_CHOKE_SIZE_P', 'AVG_WHP_P', 'AVG_WHT_P', 'DP_CHOKE_SIZE',
       'BORE_OIL_VOL', 'BORE_GAS_VOL', 'BORE_WAT_VOL', 'BORE_WI_VOL'],
      dtype='object')

Add new rows to data frame for the missing dates of each well

In [39]:
for key in dic:
    for element in dic[key]:
        new_row = {'DATEPRD':element,'NPD_WELL_BORE_NAME':key,'AVG_DOWNHOLE_PRESSURE':'NaN','AVG_DOWNHOLE_TEMPERATURE':'NaN', 'AVG_DP_TUBING':'NaN', 'AVG_ANNULUS_PRESS':'NaN',
       'AVG_CHOKE_SIZE_P':0, 'AVG_WHP_P':'NaN', 'AVG_WHT_P':'NaN', 'DP_CHOKE_SIZE':'NaN',
       'BORE_OIL_VOL':0, 'BORE_GAS_VOL':0, 'BORE_WAT_VOL':0, 'BORE_WI_VOL':0,
       }
        df=df.append(new_row, ignore_index=True)

Count the new number of rows

In [40]:
df.shape[0]

15862

Check tail of dataframe for the added rows

In [41]:
df.tail()

,DATEPRD,NPD_WELL_BORE_NAME,AVG_DOWNHOLE_PRESSURE,AVG_DOWNHOLE_TEMPERATURE,AVG_DP_TUBING,AVG_ANNULUS_PRESS,AVG_CHOKE_SIZE_P,AVG_WHP_P,AVG_WHT_P,DP_CHOKE_SIZE,BORE_OIL_VOL,BORE_GAS_VOL,BORE_WAT_VOL,BORE_WI_VOL
15857,2016-11-26,F_4,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0
15858,2016-11-27,F_4,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0
15859,2016-11-28,F_4,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0
15860,2016-11-29,F_4,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0
15861,2016-11-30,F_4,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0

In [42]:
new_df=df

Check unique well names

In [43]:
df['NPD_WELL_BORE_NAME'].unique()

array(['15/9-F-1 C', '15/9-F-11', '15/9-F-12', '15/9-F-14', '15/9-F-15 D',
       '15/9-F-4', '15/9-F-5', 'F_11', 'F_12', 'F_14', 'F_15_D', 'F_4'],
      dtype=object)

'F_11', 'F_12', 'F_14', 'F_15_D', 'F_4' are duplicate well names

Create new dictionary to remap and eliminate duplicate well names

In [44]:
dic2 = {'15/9-F-1 C':'15/9-F-1 C','F_11':'15/9-F-11' , 'F_12' : '15/9-F-12', 'F_14' : '15/9-F-14', 'F_15_D' : '15/9-F-15 D','F_4':'15/9-F-4','15/9-F-5':'15/9-F-5','15/9-F-11':'15/9-F-11','15/9-F-12':'15/9-F-12','15/9-F-14':'15/9-F-14','15/9-F-15 D':'15/9-F-15 D','15/9-F-4':'15/9-F-4' }

Remap well names using dictionary

In [45]:
df['NPD_WELL_BORE_NAME']= df['NPD_WELL_BORE_NAME'].map(dic2)

Check unique well names

In [46]:
df['NPD_WELL_BORE_NAME'].unique()

array(['15/9-F-1 C', '15/9-F-11', '15/9-F-12', '15/9-F-14', '15/9-F-15 D',
       '15/9-F-4', '15/9-F-5'], dtype=object)

There are no more duplicate well names

Sort rows by well name and date columns

In [47]:
df = df.sort_values(['NPD_WELL_BORE_NAME','DATEPRD'], ascending=[True,True])

Reset dataframe indices

In [48]:
df.reset_index(inplace=True)

Check data frame head

In [49]:
df.head()

,index,DATEPRD,NPD_WELL_BORE_NAME,AVG_DOWNHOLE_PRESSURE,AVG_DOWNHOLE_TEMPERATURE,AVG_DP_TUBING,AVG_ANNULUS_PRESS,AVG_CHOKE_SIZE_P,AVG_WHP_P,AVG_WHT_P,DP_CHOKE_SIZE,BORE_OIL_VOL,BORE_GAS_VOL,BORE_WAT_VOL,BORE_WI_VOL
0,0,2014-04-07,15/9-F-1 C,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,1,2014-04-08,15/9-F-1 C,NaN,NaN,NaN,0.0,1.00306,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,2,2014-04-09,15/9-F-1 C,NaN,NaN,NaN,0.0,0.97901,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,3,2014-04-10,15/9-F-1 C,NaN,NaN,NaN,0.0,0.54576,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,4,2014-04-11,15/9-F-1 C,310.376,96.876,277.278,0.0,1.21599,33.098,10.48,33.072,0.0,0.0,0.0,NaN

Create well name list

In [50]:
well_list = df['NPD_WELL_BORE_NAME'].unique()

Drop column which holds former indices

In [51]:
df.drop(columns = ['index'],inplace=True)

Check data frame tail

In [52]:
df.tail(20)

,DATEPRD,NPD_WELL_BORE_NAME,AVG_DOWNHOLE_PRESSURE,AVG_DOWNHOLE_TEMPERATURE,AVG_DP_TUBING,AVG_ANNULUS_PRESS,AVG_CHOKE_SIZE_P,AVG_WHP_P,AVG_WHT_P,DP_CHOKE_SIZE,BORE_OIL_VOL,BORE_GAS_VOL,BORE_WAT_VOL,BORE_WI_VOL
15842,2016-08-30,15/9-F-5,NaN,NaN,NaN,1.852,0.67376,83.865,12.277,83.865,0.0,0.0,0.0,NaN
15843,2016-08-31,15/9-F-5,NaN,NaN,NaN,6.291,0.63276,6.009,2.298,6.009,0.0,0.0,0.0,NaN
15844,2016-09-01,15/9-F-5,NaN,NaN,NaN,6.293,0.61443,6.002,2.297,6.002,0.0,0.0,0.0,NaN
15845,2016-09-02,15/9-F-5,NaN,NaN,NaN,6.288,0.61087,6.003,2.297,6.003,0.0,0.0,0.0,NaN
15846,2016-09-03,15/9-F-5,NaN,NaN,NaN,3.104,0.59159,2.891,1.211,2.891,0.0,0.0,0.0,NaN
15847,2016-09-04,15/9-F-5,NaN,NaN,NaN,0.276,0.61751,0.078,0.228,0.078,0.0,0.0,0.0,NaN
15848,2016-09-05,15/9-F-5,NaN,NaN,NaN,0.285,0.60034,0.085,0.229,0.085,0.0,0.0,0.0,NaN
15849,2016-09-06,15/9-F-5,NaN,NaN,NaN,0.281,0.61327,0.083,0.229,0.042,0.0,0.0,0.0,0.0
15850,2016-09-07,15/9-F-5,NaN,NaN,NaN,0.269,0.61606,0.075,0.228,0.038,0.0,0.0,0.0,0.0
15851,2016-09-08,15/9-F-5,NaN,NaN,NaN,0.285,0.58911,0.085,0.229,0.043,0.0,0.0,0.0,0.0
15852,2016-09-09,15/9-F-5,NaN,NaN,NaN,0.287,0.57510,0.085,0.229,0.043,0.0,0.0,0.0,0.0
15853,2016-09-10,15/9-F-5,NaN,NaN,NaN,0.283,0.57146,0.085,0.229,0.04,0.0,0.0,0.0,0.0
15854,2016-09-11,15/9-F-5,NaN,NaN,NaN,0.287,0.56810,0.087,0.229,0.035,0.0,0.0,0.0,0.0
15855,2016-09-12,15/9-F-5,NaN,NaN,NaN,0.287,0.55897,0.085,0.229,0.026,0.0,0.0,0.0,0.0
15856,2016-09-13,15/9-F-5,NaN,NaN,NaN,0.285,0.67372,0.085,0.229,0.037,0.0,0.0,0.0,NaN
15857,2016-09-14,15/9-F-5,NaN,NaN,NaN,0.273,0.63609,0.078,0.229,0.019,0.0,0.0,0.0,NaN
15858,2016-09-15,15/9-F-5,NaN,NaN,NaN,0.287,0.67079,0.085,0.229,0.006,0.0,0.0,0.0,NaN
15859,2016-09-16,15/9-F-5,NaN,NaN,NaN,0.286,0.66439,0.085,0.229,0.012,0.0,0.0,0.0,NaN
15860,2016-09-17,15/9-F-5,NaN,NaN,NaN,0.272,0.62466,0.075,0.228,0.026,0.0,0.0,0.0,NaN
15861,2016-09-18,15/9-F-5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0

Check data types

In [53]:
df.dtypes

DATEPRD                     datetime64[ns]
NPD_WELL_BORE_NAME                  object
AVG_DOWNHOLE_PRESSURE               object
AVG_DOWNHOLE_TEMPERATURE            object
AVG_DP_TUBING                       object
AVG_ANNULUS_PRESS                   object
AVG_CHOKE_SIZE_P                   float64
AVG_WHP_P                           object
AVG_WHT_P                           object
DP_CHOKE_SIZE                       object
BORE_OIL_VOL                       float64
BORE_GAS_VOL                       float64
BORE_WAT_VOL                       float64
BORE_WI_VOL                        float64
dtype: object

Create list of dataframe columns except for NPD_WELL_BORE_NAME column

In [54]:
object_columns = ['AVG_DOWNHOLE_PRESSURE',
       'AVG_DOWNHOLE_TEMPERATURE', 'AVG_DP_TUBING', 'AVG_ANNULUS_PRESS',
       'AVG_CHOKE_SIZE_P', 'AVG_WHP_P', 'AVG_WHT_P', 'DP_CHOKE_SIZE']

Change datatypes of the columns in the object_columns as float

In [55]:
for element in object_columns:
    df[element] = df[element].astype(float)

Check data types

In [56]:
df.dtypes

DATEPRD                     datetime64[ns]
NPD_WELL_BORE_NAME                  object
AVG_DOWNHOLE_PRESSURE              float64
AVG_DOWNHOLE_TEMPERATURE           float64
AVG_DP_TUBING                      float64
AVG_ANNULUS_PRESS                  float64
AVG_CHOKE_SIZE_P                   float64
AVG_WHP_P                          float64
AVG_WHT_P                          float64
DP_CHOKE_SIZE                      float64
BORE_OIL_VOL                       float64
BORE_GAS_VOL                       float64
BORE_WAT_VOL                       float64
BORE_WI_VOL                        float64
dtype: object

All relevant columns are now float type

Create a data frame of the average value of each numeric column for each well

In [57]:
means = df.groupby(by='NPD_WELL_BORE_NAME').mean()

Replace nan elements of the means dataframe with zeroes

In [58]:
means.fillna(0, inplace =True)

Check dataframe

In [59]:
means.head(10)

,AVG_DOWNHOLE_PRESSURE,AVG_DOWNHOLE_TEMPERATURE,AVG_DP_TUBING,AVG_ANNULUS_PRESS,AVG_CHOKE_SIZE_P,AVG_WHP_P,AVG_WHT_P,DP_CHOKE_SIZE,BORE_OIL_VOL,BORE_GAS_VOL,BORE_WAT_VOL,BORE_WI_VOL
NPD_WELL_BORE_NAME,,,,,,,,,,,,
15/9-F-1 C,246.666036,104.925303,192.540223,0.000000,29.598451,53.908149,40.409042,32.647688,221.881471,2.699060,242.603064,0.000000
15/9-F-11,233.962353,104.332832,182.861664,18.515586,36.138149,51.145796,68.082283,24.228086,531.894855,0.000000,278.254692,0.000000
15/9-F-12,80.729069,33.292082,84.765923,17.272199,67.353603,47.973012,78.623926,19.292680,372.009459,7.136364,181.577303,0.000000
15/9-F-14,233.074651,95.133791,192.653088,10.527985,67.387511,41.530601,77.103033,15.435755,311.995972,2.176611,97.565410,0.000000
15/9-F-15 D,226.034939,104.645505,186.151842,13.961939,9.964461,39.883119,28.597811,17.107189,151.551020,0.135514,53.418367,0.000000
15/9-F-4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,65.472222
15/9-F-5,0.000000,0.000000,0.000000,17.959994,68.844518,21.323163,43.189106,0.066033,257.268750,0.000000,84.600000,66.700000

Remove 'BORE_OIL_VOL', 'BORE_GAS_VOL', 'BORE_WAT_VOL', 'BORE_WI_VOL' columns of the means dataframe

In [60]:
means.drop( columns = ['BORE_OIL_VOL', 'BORE_GAS_VOL', 'BORE_WAT_VOL', 'BORE_WI_VOL'], inplace=True)

Check means dataframe

In [61]:
means.head(7)

,AVG_DOWNHOLE_PRESSURE,AVG_DOWNHOLE_TEMPERATURE,AVG_DP_TUBING,AVG_ANNULUS_PRESS,AVG_CHOKE_SIZE_P,AVG_WHP_P,AVG_WHT_P,DP_CHOKE_SIZE
NPD_WELL_BORE_NAME,,,,,,,,
15/9-F-1 C,246.666036,104.925303,192.540223,0.000000,29.598451,53.908149,40.409042,32.647688
15/9-F-11,233.962353,104.332832,182.861664,18.515586,36.138149,51.145796,68.082283,24.228086
15/9-F-12,80.729069,33.292082,84.765923,17.272199,67.353603,47.973012,78.623926,19.292680
15/9-F-14,233.074651,95.133791,192.653088,10.527985,67.387511,41.530601,77.103033,15.435755
15/9-F-15 D,226.034939,104.645505,186.151842,13.961939,9.964461,39.883119,28.597811,17.107189
15/9-F-4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15/9-F-5,0.000000,0.000000,0.000000,17.959994,68.844518,21.323163,43.189106,0.066033

Check number of nan elements per column

In [62]:
df.isna().sum()

DATEPRD                         0
NPD_WELL_BORE_NAME              0
AVG_DOWNHOLE_PRESSURE        6882
AVG_DOWNHOLE_TEMPERATURE     6882
AVG_DP_TUBING                6882
AVG_ANNULUS_PRESS            7972
AVG_CHOKE_SIZE_P             6715
AVG_WHP_P                    6707
AVG_WHT_P                    6716
DP_CHOKE_SIZE                 522
BORE_OIL_VOL                 9847
BORE_GAS_VOL                14473
BORE_WAT_VOL                11087
BORE_WI_VOL                 15235
dtype: int64

Replace missing values of each column(except for volume columns) with the average of each column stored in the means data frame.

In [63]:
for column in object_columns:
    for well in well_list:
        df.loc[(df['NPD_WELL_BORE_NAME'] == well) & (df[column].isnull()), column] =  means.loc[well,column]

Check missing values for each column

In [64]:
df.isna().sum()

DATEPRD                         0
NPD_WELL_BORE_NAME              0
AVG_DOWNHOLE_PRESSURE           0
AVG_DOWNHOLE_TEMPERATURE        0
AVG_DP_TUBING                   0
AVG_ANNULUS_PRESS               0
AVG_CHOKE_SIZE_P                0
AVG_WHP_P                       0
AVG_WHT_P                       0
DP_CHOKE_SIZE                   0
BORE_OIL_VOL                 9847
BORE_GAS_VOL                14473
BORE_WAT_VOL                11087
BORE_WI_VOL                 15235
dtype: int64

Replace missing values in volume columns with zeroes

In [65]:
df.fillna(0, inplace=True)

In [66]:
df.dtypes

DATEPRD                     datetime64[ns]
NPD_WELL_BORE_NAME                  object
AVG_DOWNHOLE_PRESSURE              float64
AVG_DOWNHOLE_TEMPERATURE           float64
AVG_DP_TUBING                      float64
AVG_ANNULUS_PRESS                  float64
AVG_CHOKE_SIZE_P                   float64
AVG_WHP_P                          float64
AVG_WHT_P                          float64
DP_CHOKE_SIZE                      float64
BORE_OIL_VOL                       float64
BORE_GAS_VOL                       float64
BORE_WAT_VOL                       float64
BORE_WI_VOL                        float64
dtype: object

<b>1.5 Export data frame<b/>

Check if there are still missing dates

In [67]:
df.to_csv("df_clean.csv")